{% extends 'base.html' %}
{% block content %}
<div class="container">
<form action="/create/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
</div>
{% endblock %}