{% extends 'base.html' %}
{% block title %} Приложение для тематического моделирования данных {% endblock %}
{% block content %}
<div>
    <p>Данное приложение позволяет выделить ключевые слова в тексте, в том числе взятого из социальных сетей, а также может наглядно отобразить тематическую близость нескольких текстов. </p>
    <p>Для выделения ключевых слов выберите вкладку "Определение ключевых слов документа". Вы можете вставить изучаемый текст в окно ввода или же загрузить текстовый файл. Затем нужно выбрать, какое количество наиболее выраженных тем в тексте Вам хотелось бы узнать, а также количество ключевых слов в каждой теме. Общее количество ключевых слов определяется произведением количества тем на количество слов в каждой теме. Тематическое моделирование будет произведено с помощью метода LDA. LDA - метод латентного размещения Дирихле (данный способ не использует нейронную сеть). </p>
    <p>Если Вы хотите определить тематическую близость нескольких текстов, то Вам нужно выбрать вкладку "Пакетная обработка документов". Вы можете зарузить несколько текстовых файлов и выбрать количество кластеров, на которые будут делиться выбранные тексты. Количество кластеров должно быть меньше или равно количеству файлов. После обработки текстов Вы получите двумерный график кластеризации, который будет изображать каждый текст в виде точки с номером. Справа от графика будет располагаться список файлов с номером. Это позволит Вам сопоставить определенную точку с введенным файлом и понять, насколько тематически близки те или иные тексты. </p>
</div>
{% endblock %}