{% extends 'base.html' %}

{% block content %}
<div>
    {% if user.is_authenticated %}
    <p>Пользователь: {{ user.get_username }}</p>
  {% else %}
    <p>Произошла ошибка</p>
  {% endif %}
</div>
<div>
  {% for c in content %}
  <p><b>Ключевые слова</b></p>
  <p>
    {{c.words}}
  </p>
  <p><b>Текст</b></p>
  <p>{{c.text}}</p>
  {% endfor %}
</div>

{% endblock %}