{% extends 'base.html' %}
{% block title %} Определение ключевых слов документа {% endblock %}
{% block content %}
{% csrf_token %}
<div>
    <form method="POST"enctype="multipart/form-data">{% csrf_token %}
    	<textarea name="text"></textarea>
    	<div class="input">
    		<input type="file" name="file">
    	</div>
	    <div class="flx">
	    	<div>
	    		<input type="number" name="topics" min="1" max="10" value="1" step="1">
	    		<span>Введите количество тем</span>
	    	</div>
	    	<div>
	    		<input type="number" name="words" min="1" max="10" value="1" step="1">
	    		<span>Введите количество слов в каждой теме</span>
	    	</div>
	    	<h2>Метод обработки - LDA</h2>

	    </div>
	    <button type="submit">Подтвердить</button>
    </form>
</div>
<style type="text/css">
	.flx {
		display: flex;
		flex-direction: column;
	}

	textarea {
		width: 400px;
		height: 200px;
		resize: none;
	}
	.input {
		margin: 5px 0;
	}
</style>
{% endblock %}